@{ ViewData["Title"] = "Home Page"; }
<div class="jumbotron">
    <h1>Weltec & Whitireia NZ</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Stars Basketball Website</h2>
        <p>
            W & W Sample School application demonstrates how to use Entity Framework Core in an ASP.NET Core MVC web application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Register</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lobortis libero et lacus consequat scelerisque. Aenean dapibus porta justo et laoreet. Curabitur fermentum nec diam in viverra.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lobortis libero et lacus consequat scelerisque. Aenean dapibus porta justo et laoreet. Curabitur fermentum nec diam in viverra.</p>
    </div>
    <div class="col-md-4">
        <h2>Download</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lobortis libero et lacus consequat scelerisque. Aenean dapibus porta justo et laoreet. Curabitur fermentum nec diam in viverra.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lobortis libero et lacus consequat scelerisque. Aenean dapibus porta justo et laoreet. Curabitur fermentum nec diam in viverra.</p>
    </div>
</div>
